* {
    font-family: Open Sans;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

/* Container */

.main-container {
    margin: 5px 40px;
    flex: 1 0 auto;
}

.footer-container {
    margin: 0px;
    align-items: center;
    background-color: black;
    flex-shrink: 0;
}

.header-container {
    margin-top: 66px;
}

.footer-content-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-section-container {
    margin: 70px 7px 40px 7px;
}

.content-section-description {
    margin-bottom: 50px;
}

/* 
    Card
*/

.card-title {
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}


.card-subtitle {
    color: #666666;
    padding: 4px 0px 4px 0px;
}

@media screen and (max-width: 550px) {
    .content-row-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
    .content-row-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
    }

    .card {
        flex: 1 0 45%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .content-row-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px
    }

    .card {
        flex: 1 0 29%;
    }
}

@media screen and (min-width: 1200px) {
    .content-row-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px
    }

    .card {
        flex: 1 0 21%;
    }
}

/* Hero */

.hero-image {
    height: 500px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../img/building-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    text-align: center;
    vertical-align: bottom;
    color: white;
}

/* 
    Text
*/

.text-highlight-secondary {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px 20px;
    margin: 0 5px;
}

.text-bold {
    font-weight: bold;
}

.text-bold-more {
    font-weight: bolder;
}

.text-light {
    color: white;
}

.text-center {
    text-align: center;
    vertical-align: center;
}

/* 
    Collapsible
*/

.collapsible-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapsible-menu span:nth-child(2) {
  top: 6.75px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapsible-menu span:nth-child(3) {
  top: 13.75px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapsible-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1.125px;
  left: 4px;
}

.collapsible-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.collapsible-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19.5px;
  left: 4px;
}

.collapsible-menu {
    width: 30px;
    height: 22.5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
.collapsible-menu span {
    display: block;
    position: absolute;
    height: 3.5px;
    width: 100%;
    background: black;
    border-radius: 4.5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

/* 
  Form
*/

.form-container {
    flex-direction: row;
}

.form-container {
    flex-direction: row;
}

.form-field-container > .input {
    padding: 10px 10px 10px 10px;
    flex: 1;
}

.form-field-container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-action-container {
    padding: 24px 0 24px 0;
}

/* 
    Navbar
*/
.navbar {
    padding: 22px 30px;
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 1px 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-section {
    align-items: center;
    justify-content: center;
}

.navbar-section-items {
    text-decoration: none;
    color: black;
}

.navbar-title {
    text-decoration: none;
    color: black;
}

.navbar-menus > a:hover {
}

@media screen and (max-width: 600px) {
    .navbar-menus {
        display: none;
    }

    .navbar-menus.open {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .navbar-section-items.open {
        display: flex;
        flex-direction: column;
    }

    .navbar-section {
        display: flex;
        flex-direction: column;
    }

    .navbar-menus.open > a {
        font-size: xx-large;
        margin: 10px 0px;
    }

    i.collapsible-menu {
      display: block;
    }

    #navbar-title.open {
        font-size: 40px;
    }
}

.pull-end {
    align-items: flex-end;
}

@media screen and (min-width: 600px) {
    .navbar-menus {
        display: flex;
        gap: 35px;
    }
}

.title {
    font-size: 22px;
}
/* 
    Misc
*/

img.image-highlight {
    width: 100%;
    height: auto;
}

.images-container {
}

.button-primary {
    font-weight: bold;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #000;
    padding: 10px   ;
    border-color: transparent;
}

.button-secondary:hover {
    background-color: rgb(80, 80, 80);
}

.section-headline {
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.button-secondary {
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: black;
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.button-secondary:hover {
    background-color: #b4b2b2;
}

.image-container {
    color: black;
    align-content: center;
    justify-content: center;
    position: relative;
}

.image-container > img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image-container > .caption {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    padding: 10px 18px 10px 18px;
    color: white;
    margin: 0;
    z-index: 50;
}
